@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap");
:root {
  font-size: calc(10px + 0.33vw); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.title {
  font-weight: 600;
  color: #4c545d; }
  .title--primary {
    font-size: 2.4rem; }
  .title--secondary {
    font-size: 1.8rem; }
  .title--tertairy {
    font-size: 1.5rem; }

.text {
  color: #9fabb2;
  font-size: 1.3rem; }

.fontCapitalized {
  text-transform: capitalize; }

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.title {
  margin-bottom: 1rem; }

.title--primary ~ .text,
.title--secondary ~ .text {
  margin-bottom: 4rem; }

.header,
.main__section,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.header__container,
.features__container,
.cta__container {
  display: flex;
  flex-direction: column; }

.header__img,
.features__img {
  margin-bottom: 4rem; }

.header {
  padding: 8rem 3rem; }
  .header__img {
    margin-bottom: 5rem; }

.main__section {
  padding: 8rem 3rem; }

.btn:not(:last-child) {
  margin-bottom: 1.5rem; }

.brands {
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 5rem; }
  .brands__img {
    margin: 5rem 2rem 0 2rem; }

.feature {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }
  .feature:not(:last-child), .feature__icon {
    margin-bottom: 3rem; }
  .feature__icon {
    height: 32px; }

.footer {
  padding: 3rem;
  color: #4c545d; }
  .footer__img {
    width: 4rem; }
  .footer__img, .footer__nav {
    margin-bottom: 3rem; }

.iconLink:not(:last-child) {
  margin-right: 2rem; }

@media only screen and (min-width: 500px) {
  .title--primary ~ .text,
  .title--secondary ~ .text {
    max-width: 70%; }
  .features__img {
    width: 30rem;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 600px) {
  .header__container,
  .cta__container {
    flex-direction: row; }
  .btn:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.5rem; }
  .tools__container {
    display: flex; }
  .feature--withIcon:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem; }
  .footer {
    flex-direction: row;
    justify-content: flex-start; }
    .footer__img, .footer__nav {
      margin: 0; }
    .footer__nav {
      margin-left: 4rem;
      max-width: 30rem; }
    .footer__socialMedia {
      margin-left: auto;
      min-width: 140px; } }

@media only screen and (min-width: 700px) {
  .title--primary ~ .text,
  .title--secondary ~ .text {
    max-width: 60%; }
  .features__container {
    flex-direction: row;
    align-items: center; }
  .features__img, .features__content {
    width: 50%; }
  .features__img {
    max-width: 100%;
    margin: 0; }
  .features__content {
    text-align: left;
    padding-left: 4rem; }
  .feature {
    max-width: 400px; }
    .feature:not(.feature--withIcon) {
      max-width: 100%; } }

.headerBcg {
  background-image: url("../assets/bg-header-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.footerBcg {
  background-color: #e6e9eb; }

.img {
  max-width: 100%; }

.btn {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 5rem;
  text-align: center;
  border-radius: 25px;
  position: relative;
  transition: 0.4s; }
  .btn::after {
    content: "";
    display: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: -1;
    transition: .1s; }
  .btn:active::after {
    transform: scale(1.03); }
  .btn--cyan {
    background-color: #26baa4; }
    .btn--cyan::after {
      background-color: #1d907f; }
    .btn--cyan:hover, .btn--cyan:focus {
      background-color: #2acfb7; }
  .btn--blue {
    background-color: #6173ff; }
    .btn--blue::after {
      background-color: #2e46ff; }
    .btn--blue:hover, .btn--blue:focus {
      background-color: #7a8aff; }

.nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none; }

.nav__item:not(:last-child) {
  margin-bottom: 1.5rem; }

.nav__link {
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: 0.4s; }
  .nav__link:hover, .nav__link:focus {
    color: #26baa4; }

.iconLink__icon {
  transition: 0.4s;
  font-size: 26px; }
  .iconLink__icon:hover, .iconLink__icon:focus {
    color: #26baa4; }

@media only screen and (min-width: 600px) {
  .headerBcg {
    background-image: url("../assets/bg-header-desktop.png"); }
  .btn {
    padding: 0.8rem 3rem; }
  .nav__list {
    flex-direction: row; }
  .nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 3rem;
    line-height: 1.5; } }
