.wrapper {
	max-width: 1440px;
	@include marginAuto;
}

.title {
	margin-bottom: 1rem;
}

.title--primary ~ .text,
.title--secondary ~ .text {
	margin-bottom: 4rem;
}

.header,
.main__section,
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header,
.features,
.cta {
	&__container {
		display: flex;
		flex-direction: column;
	}
}

.header,
.features {
	&__img {
		margin-bottom: 4rem;
	}
}

.header {
	padding: 0 3rem;
	min-height: 100vh;

	&__img {
		margin-bottom: 5rem;
	}
}

.main__section {
	padding: 8rem 3rem;
}

.btn:not(:last-child) {
	margin-bottom: 1.5rem;
}

.brands {
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 0;
	padding-bottom: 0;

	&__img {
		margin: 4rem 2rem;
	}
}

.feature {
	max-width: 350px;
	@include marginAuto;

	&:not(:last-child),
	&__icon {
		margin-bottom: 3rem;
	}

	&__icon {
		height: 32px;
	}
}

.footer {
	padding: 3rem;
	color: $colorDarkGray;

	&__img {
		width: 4rem;
	}

	&__img,
	&__nav {
		margin-bottom: 3rem;
	}
}

.iconLink:not(:last-child) {
	margin-right: 2rem;
}

@media only screen and (min-width: 500px) {
	.title--primary ~ .text,
	.title--secondary ~ .text {
		max-width: 70%;
	}

	.features {
		&__img {
			width: 30rem;
			@include marginAuto;
		}
	}
}

@media only screen and (min-width: 600px) {
	.header,
	.cta {
		&__container {
			flex-direction: row;
		}
	}

	.btn:not(:last-child) {
		margin-bottom: 0;
		margin-right: 1.5rem;
	}

	.tools {
		&__container {
			display: flex;
		}
	}

	.feature--withIcon:not(:last-child) {
		margin-bottom: 0;
		margin-right: 2rem;
	}

	.footer {
		flex-direction: row;
		justify-content: flex-start;

		&__img,
		&__nav {
			margin: 0;
		}

		&__nav {
			margin-left: 4rem;
			max-width: 30rem;
		}

		&__socialMedia {
			margin-left: auto;
			min-width: 140px;
		}
	}
}

@media only screen and (min-width: 700px) {
	.title--primary ~ .text,
	.title--secondary ~ .text {
		max-width: 60%;
	}

	.features {
		&__container {
			flex-direction: row;
			align-items: center;
		}

		&__img,
		&__content {
			width: 50%;
		}

		&__img {
			max-width: 100%;
			margin: 0;
		}

		&__content {
			text-align: left;
			padding-left: 4rem;
		}
	}

	.feature {
		max-width: 400px;

		&:not(.feature--withIcon) {
			max-width: 100%;
		}
	}
}
