.title {
	font-weight: 600;
	color: $colorDarkGray;

	&--primary {
		font-size: 2.4rem;
	}

	&--secondary {
		font-size: 1.8rem;
	}

	&--tertairy {
		font-size: 1.5rem;
	}
}

.text {
	color: $colorGray;
	font-size: 1.3rem;
}

.fontCapitalized {
	text-transform: capitalize;
}
